.TodoItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px 8px;
  border-radius: 5rem;
  border: solid 2px var(--secondary);
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  width: 92%;
}

.TodoItemDelete {
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  border-radius: 50%;
}

.TodoItemCheck {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.TodoItemText {
  width: 30px;
  padding-inline: 10px;
  flex-grow: 1;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: ltr;
}

.TodoItemTextActive {
  text-decoration: line-through;
}

.Urgent {
  color: #ff5757;
  padding-right: 2px;
}

.Important {
  color: #009ce4;
  padding-right: 2px;
}

.NotUrgent {
  color: #00aa55;
  padding-right: 2px;
}

@media (width >=768px) {
  .TodoItemContainer {
    width: 280px;
  }
}
