.iconfilter {
  width: 26px;
  display: flex;
  cursor: pointer;
}

.Container {
  position: absolute;
  top: 60px;
  left: 24px;
  background-color: var(--white);
  padding: 10px;
  border: 2px solid var(--secondary);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filters {
  display: flex;
}

.mydivheader {
  width: 100%;
  height: 10px;
  background-color: var(--primary);
  cursor: move;
  z-index: 4;
  margin: 0px;
}

.Alphabet,
.Creation,
.Priority {
  background: none;
  font-size: 14px;
  border: none;
  font-weight: 600;
  padding-bottom: 0px;
  align-self: center;
}

.Alphabet:hover,
.Creation:hover,
.Priority:hover {
  color: var(--primary);
  cursor: pointer;
}

.EmojiReverse {
  display: none;
}

.EmojiAsc,
.EmojiDesc {
  display: none;
}

@media (width >=768px) {
  .Container {
    top: 220px;
    left: 795px;
  }

  .EmojiAsc,
  .EmojiDesc {
    display: inline;
  }
}
