.AddTask {
  width: 25px;
  height: 25px;
  background-image: url(/icons/add.svg);
  background-color: var(--white);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.AddTask:hover {
  transform: scale(1.2);
}

.AddTaskContainer {
  border: solid var(--secondary) 4px;
  border-radius: 5rem;
  display: flex;
  justify-content: baseline;
  padding: 8px 0px 8px 12px;
  gap: 20px;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
}

.Container {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  position: absolute;
  z-index: 3;
  bottom: 290px;
  right: 45px;
  background-color: var(--white);
  padding: 10px;
  border: 2px solid var(--secondary);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
  width: 248px;
  max-height: 160px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.mydivheader {
  width: 100%;
  height: 10px;
  background-color: var(--primary);
  cursor: move;
  z-index: 4;
  margin: 10px 0;
  text-align: center;
}

.InputContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6px;
}

.NewTask {
  width: 25px;
  height: 25px;
  background-image: url(/icons/newTask.png);
  background-color: var(--white);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.NewTask:hover {
  transform: scale(1.2);
}

.TaskInput {
  padding: 8px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  width: 200px;
  min-height: 30px;
  resize: none;
  overflow: auto;
  transition: height 0.2s;
}

.TaskInput::-webkit-scrollbar {
  width: 0;
}

.TaskInput::-webkit-scrollbar-track {
  scrollbar-width: none;
}

.TaskInput::-webkit-scrollbar-thumb {
  background: none;
}

.PriorityContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Priority {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.PriorityLabel {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
}

.PriorityLabel input {
  margin-right: 5px;
}

.Urgent {
  accent-color: #ff5757;
}

.Important {
  accent-color: #009ce4;
}

.NotUrgent {
  accent-color: #00aa55;
}

@media (width >=768px) {
  .Container {
    bottom: 0px;
    top: 460px;
    right: 460px;
  }
}
